@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee__item {
  will-change: transform;
  animation: marquee 30s linear infinite;
  display: flex;
}

.marquee__item,
.TickerSliderContainer {
  gap: 0 20px;
}

.TickerSliderContainer {
  display: flex;
  gap: 15px;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    .marquee__item {
      animation-play-state: paused;
    }
  }
}
