.fixed {
  position: fixed;
  background: none;
}

.native-share {
  bottom: 194px;
  z-index: 10;
  right: 9px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 50%;

  &,
  svg {
    height: 38px;
    width: 38px;
  }
}
