@import "styles/mixins";

.card {
  display: flex;
  background: #f0f2f4;
  padding: 1.25rem;
  margin-top: 1rem;
  ul {
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #ccc;
      height: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6a6a6a;
    }
    &::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: #ccc;
    }
  }
  li {
    position: relative;
    width: 100%;
    flex: none;
    padding-top: 2.25rem;
    padding-bottom: 10px;
    list-style: none;
    font-size: 1.25rem;
    line-height: 1.65rem;
    color: #231f20;
    &:before {
      content: ",,";
      font-size: 5rem;
      color: #ff0600;
      font-weight: 700;
      line-height: 5rem;
      font-family: sans-serif;
      transform: rotateZ(180deg);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
