// must add this to every component
@import 'styles/common/helpers/_mixins-new';

.d-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.d-flex,
.d-grid {
  list-style: none;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.preparation-grid-2 {
  grid-template-columns: 400px repeat(2, 340px);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.listing-with-border {
  a {
    + a,
    + div {
      border-top: 1px dotted hsla(0, 0%, 71%, 0.5);
      padding-top: 12px;
      margin-top: 12px;
    }
  }
}

.border-with-dotted {
  border-bottom: 1px dotted rgba(var(--bgBorderDotted), 1);
}

.cookingtime {
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 19px;
  @extend .border-with-dotted;
}

.ingredients {
  @extend .grid-2;
  li {
    margin: 0px;
    list-style: none;
    &:nth-child(even) {
      text-align: right;
    }
  }
}

.recipeauthor {
  align-items: center;
  span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    gap: 10px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 767px) {
  .filter-button {
    align-items: center;
    li {
      &:not(:last-child) {
        border-right: 1px solid #dadada;
        padding-right: 20px;
      }
    }
  }
}
