.d-flex {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.default {
  &[class*="slick-slider"] {
    width: 100%;

    &,
    [class*="slick-list"] {
      position: static;
      display: block;
    }

    [class*="slick-list"],
    [class*="slick-track"] {
      transform: translateZ(0);
      overflow: hidden;
    }

    [class*="slick-track"] {
      display: flex;
    }

    [class*="slick-arrow"] {
      position: absolute;
      z-index: 2;
      border: 0;
      &:after {
        position: absolute;
        content: "";
        border: solid #1a1a1a;
        border-width: 0 1px 1px 0;
        width: 6px;
        height: 6px;
        right: 14px;
        top: 12px;
        transform: rotate(-45deg);
      }
    }

    [class*="slick-next"],
    [class*="slick-prev"] {
      height: 32px;
      width: 32px;
      font-size: 0;
      top: 34px;
      z-index: 2;
      background: #f0f0f0;
      border-radius: 4px;
      cursor: pointer;

      // &::before {
      //   width: 30px;
      //   border-radius: 0px;
      //   background: linear-gradient(
      //     to right,
      //     rgba(255, 255, 255, 0) 14%,
      //     var(--bgWhite) 99%
      //   );
      //   opacity: 1;
      // }
    }

    [class*="slick-next"] {
      right: 0;
    }

    [class*="slick-prev"] {
      right: 40px;
      transform: rotate(180deg);
    }

    [class*="slick-disabled"],
    [class*="slick-next"]:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}

.gap-20 {
  &[class*="slick-slider"] {
    [class*="slick-list"] {
      margin: 0 -10px;
    }

    [class*="slick-slide"] {
      padding: 0 10px;
    }
  }
}

.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  text-align: center;
  margin-top: 12px;

  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;

    button {
      border: none;
      background: rgba(var(--rgbWhiteColor), 1);
      color: transparent;
      cursor: pointer;
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }

    &[class*="slick-active"] {
      button {
        background: rgba(var(--rgbDarkCreamColor), 1);
      }
    }
  }
}