@mixin font-size($i) {
  font-size: $i * 0.0625rem;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex($value) {
  -webkit-flex: $value;
  /* Safari 6.1+ */
  -ms-flex: $value;
  /* IE 10 */
  flex: $value;
}

//  Flexbox
@mixin flexbox() {
  display: -ms-flexbox;
  display: flex;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation== 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation== 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// Transform
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin border-radius($value: 3px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;

  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// Media Query
$tablet-width: 768px;
$desktop-width: 1024px;
$largedesktop-width: 1260px;
$xldesktop-width: 1280px;

@mixin mobile {
  @media screen and (max-width: #{$tablet-width - 1px}),
  screen and (orientation : landscape) and (max-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin no-mobile {
  @media screen and (min-width: #{$tablet-width}) and (orientation: portrait),
  screen and (min-width: 999px) {
    @content;
  }
}

@mixin flex($wrapProperty: nowrap, $alignItem: stretch) {
  display: flex;
  flex-wrap: $wrapProperty;
  align-items: $alignItem;
}

@mixin borderBotoom($borderWidth, $borderColor) {
  border-bottom: $borderWidth solid $borderColor;
}

@mixin borderTopBotoom() {
  opacity: 0.9;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

@mixin padding($padding...) {
  @if $padding !=0 {
    padding: $padding;
  }
}

@mixin lineClamp($lineNumber) {
  display: -webkit-box;
  -webkit-line-clamp: $lineNumber;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin title($fSize: 0.8125rem, $fWeight: 500, $lHeight: var(--lineHeightLg)) {
  font-size: $fSize;
  font-weight: $fWeight;
  line-height: $lHeight;
}

@mixin imageContainer($width: auto, $height: auto) {
  width: $width;
  height: $height;
  position: relative;
}

@mixin imageSize {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  display: block;
}

@mixin grid-row-start($i) {
  grid-row-start: $i;
}

@mixin grid-row-end($i) {
  grid-row-end: $i;
}

@mixin grid-column-start($i) {
  grid-column-start: $i;
}

@mixin grid-column-end($i) {
  grid-column-end: $i;
}

@mixin m-($i) {
  margin: $i * 1px;
}

@mixin mt-($i) {
  margin-top: $i * 1px;
}

@mixin mb-($i) {
  margin-bottom: $i * 1px;
}

@mixin mx-($i) {
  margin-left: $i * 1px;
  margin-right: $i * 1px;
}

@mixin my-($i) {
  margin-top: $i * 1px;
  margin-bottom: $i * 1px;
}

@mixin p-($i) {
  margin: $i * 1px;
}

@mixin pt-($i) {
  margin-top: $i * 1px;
}

@mixin pb-($i) {
  margin-bottom: $i * 1px;
}

@mixin px-($i) {
  margin-left: $i * 1px;
  margin-right: $i * 1px;
}

@mixin py-($i) {
  margin-top: $i * 1px;
  margin-bottom: $i * 1px;
}

@mixin list() {
  ul,
  ol {
    margin-left: 20px;

    &,
    li {
      font-size: inherit;
      color: inherit;
      line-height: inherit;
    }

    li {
      img {
        display: block;
      }

      amp-img {
        width: 100%;
        display: block;
        height: 180px;
        object-fit: cover;
      }

      + li {
        margin-top: 4px;
      }
    }
  }
}

@mixin table() {
  table {
    display: block;
    overflow: auto;
    max-height: 400px;
    outline: 1px solid var(--borderColor);
    outline-offset: -1px;
    width: 100% !important;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    font-size: 0.8125rem;
    word-break: normal;
    font-family: var(--fontFamily);
    background: transparent;

    thead,
    tbody {
      display: table;
      width: 100%;
    }

    th,
    td {
      border: 1px solid var(--borderColor);
      padding: 5px;
      font-family: var(--fontFamily);
      white-space: normal;
      vertical-align: inherit;
      background: transparent;
      font-size: inherit;
      color: inherit;
      line-height: inherit;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: bold;
      position: sticky;
      top: 0;
      background: var(--bgWhite);
      z-index: 1;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background-color: #f5f5f5;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      background-color: var(--scrollbarColor);
    }
  }
}
